// //*Engedély
// $enable-negative-margins: true;

// //*Háttér
// $bg: #f3f8fe;
// $body-bg: $bg;
// $pagination-bg: $bg;
// $card-bg: $bg;

// $card-border-color: $bg;

//* Szöveg
$white: #ededed;
$black: #414141;
$gray-900: $black;
$min-contrast-ratio: 3.1;


//*Navbár
// $navbar-dark-color: $white;
// $navbar-light-color: $black;

// //? Ez vajon kell
// $btn-box-shadow: inset 0 0px 0 rgba($white, 0.15), 0 0px 0px rgba($black, 0.075);

//*Változók
$light: $white;
$dark: $black;
$primary: #afcbff;
$secondary: #949c9b;
$info: #94ccd1;
$success: #48c774;
$warning: #f6aa50;
$danger: #ee6055;
